body {
    background: lightseagreen;
    text-align: center;


}

select {
    background-color: lightgray;
    color: lightseagreen;
    padding: 30px 5 px;
    border-radius: 5px;
}

h1 {
  font-size: 60px;
  color: #fff;
}


    





button {
    cursor:grab;
    padding: 45px 30px;
    border-radius: 10px;
    color: lightseagreen;
    background-color: lightgray;
    margin-top: 60px;
    height: 20px;
    width: 200px;
    font-size:larger;
    text-align-last: center;
    
    

}